html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: 12px/1.5 'Microsoft YaHei','\5FAE\8F6F\96C5\9ED1','Hiragino Sans GB', tahoma,arial,sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul,li{
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header{

    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: 0px 2px #f3f3f3;

}
.hr{
    height: 3px;
    width: 100%;
    background: #c8321d
}
.nav-tab-item{
    float: left;
    width: 76px;
    font-size: 22px;
    text-align: center;


}
.nav-tab-item-active{
    float: left;
    width: 76px;
    font-size: 22px;
    text-align: center;
    background: #c8321d;
    color:#fff;
}
.logo{
    width: 1000px;
    margin: 0 auto;
}
.nva{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
}
.nva li{
    height: inherit;
    line-height: 50px;
}
.news-main{
    width: 1000px;
    margin: 0 auto;
}

